.project-item {
  background-color: inherit;
  border-radius: 5px;
  padding: 5px;
  margin: 0;
  font-weight: normal;
}

.link-item {
  text-decoration: none;
  outline: none;
  color: black;
}
.link-item:hover, .link-item-active {
  background-color: #eee;
}